html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
  margin-left: 8px;
}

.avatar-logo{
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 3px;
}

.folder {
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  margin: 5px;
}