html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
  margin-left: 8px;
}

.avatar-logo{
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 3px;
}

.folder {
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  margin: 5px;
}

.loading-modal .modal-content{
  background-color: rgb(26, 24, 24);
} 

.loading-modal-title{
  color: lightgreen;
} 

.loading-modal-text{
  color: white;
  margin: 10px;
}

.loading-spinner{
  color: lightblue;
}

.pagebox{
  background-color: #212529;
  height: 100vh;
}

.banner-navbar{
  border-bottom: 2px solid lightgreen;
}

.button-type1{
  background-color: rgb(82, 82, 82) !important;
  border-color: #212529 !important;
  color: whitesmoke !important;
  box-shadow: inset !important;
  margin-top: 20px !important;
  margin-left: 5px !important;
}

.button-type1:hover{
  background-color: darkgray !important;
}

.button-type2{
  background-color: rgb(82, 82, 82) !important;
  border-color: #212529 !important;
  color: whitesmoke !important;
  box-shadow: inset !important;
  margin-top: 20px !important;
  margin-left: 44% !important;
  width: 250px !important;
}

.button-type2:hover{
  background-color: darkgray !important;
}

.welcome-text{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  color: lightgreen;
  font-weight: 700;
}

.welcome-list-group-items{
  margin-left: 30px;
  margin-right: 30px;
  background-color:#212529 !important;
  color: whitesmoke !important;
  border: 1px solid rgb(82, 82, 82) !important;
  text-align: center;
}
